.toggleBtn {
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  font-weight: 600;
  border: 1px solid hsla(256, 88%, 60%, 0.278);
  border-radius: 0.5rem;
  background: hsla(258, 90%, 66%, 0.2);
  color: hsla(258, 90%, 66%, 1);
  transition: all 0.3s ease;
  margin-top:0.5rem;
}

.toggleBtn:hover {
  background: hsl(258 90% 66%);
  color: hsl(330 80% 95%);
}


.tooltip {
  padding: 12px 16px;
}

.tooltipYear {
  font-weight: 700;
  margin-bottom: 8px;
  background: linear-gradient(
    135deg,
    hsl(258 90% 66%),
    hsl(256 88% 60%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tooltipGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px 16px;
  font-size: 14px;
}

.tooltipLabel {
  color: #6b7280;
}

.tooltipValue {
  font-weight: 500;
  color: hsl(240 10% 20%);
}

.tooltipValuePrimary {
  font-weight: 600;
  color: hsl(258 90% 66%);
}
