.legend {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.75rem;
  justify-content: center;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  color: hsl(240 5% 45%);
}

.legendDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

@media(max-width:468px){
  .legend {
    display: flex;
    flex-direction: row;
  }
}