.legend {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.75rem;
  margin-top: 10px;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  color: hsl(240 5% 45%);
}

.legendDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
